<a href="https://colab.research.google.com/github/soumo99/Google_Colab_codes/blob/main/pandas_basic_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Consider the following Python dictionary data and Python list labels:

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [1]:
import numpy as np
import pandas as pd

1. Create a DataFrame birds from this dictionary data which has the index labels.

In [2]:
extract_data = {'birds_names' : ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 
                                 'Cranes', 'spoonbills', 'spoonbills'], 'age' :  [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4] , 
                'visits' : [2, 4, 3, 4, 3, 4, 2, 2, 3, 2] , 'priority' : ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no'] }

labels  =  ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [4]:
data = pd.DataFrame(extract_data, index = labels)

In [5]:
data

  birds_names  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

2. Display a summary of the basic information about birds DataFrame and its data.

In [6]:
data.head()

  birds_names  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no

In [7]:
data.tail()

  birds_names  age  visits priority
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   birds_names  10 non-null     object
 1   age          8 non-null      float64
 2   visits       10 non-null     int64
 3   priority     10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 700.0+ bytes

3. Print the first 2 rows of the birds dataframe

In [9]:
data.head(2)

  birds_names  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes

4. Print all the rows with only 'birds' and 'age' columns from the dataframe

In [11]:
print(data[['birds_names', 'age']])

  birds_names  age
a      Cranes  3.5
b      Cranes  4.0
c     plovers  1.5
d  spoonbills  NaN
e  spoonbills  6.0
f      Cranes  3.0
g     plovers  5.5
h      Cranes  NaN
i  spoonbills  8.0
j  spoonbills  4.0

5. select [2, 3, 7] rows and in columns ['birds', 'age', 'visits']

In [12]:
data[['birds_names', 'age', 'visits']].iloc[[2,3,7]]

  birds_names  age  visits
c     plovers  1.5       3
d  spoonbills  NaN       4
h      Cranes  NaN       2

6. select the rows where the number of visits is less than 4

In [13]:
data[data['visits'] < 4]

  birds_names  age  visits priority
a      Cranes  3.5       2      yes
c     plovers  1.5       3       no
e  spoonbills  6.0       3       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

7. select the rows with columns ['birds', 'visits'] where the age is missing i.e NaN

In [14]:
sample = data[data['age'].isnull()]

In [16]:
sample[['birds_names','visits']]

  birds_names  visits
d  spoonbills       4
h      Cranes       2

8. Select the rows where the birds is a Cranes and the age is less than 4

In [19]:
data[(data['birds_names'] == 'Cranes') & (data['age'] < 4 )]

  birds_names  age  visits priority
a      Cranes  3.5       2      yes
f      Cranes  3.0       4       no

9. Select the rows the age is between 2 and 4(inclusive)

In [22]:
data[(data['age'] >= 2) & (data['age'] <= 4 )]

  birds_names  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
f      Cranes  3.0       4       no
j  spoonbills  4.0       2       no

10. Find the total number of visits of the bird Cranes

In [23]:
data[(data['birds_names'] == 'Cranes') & (data['visits'].notnull())].sum()

birds_names    CranesCranesCranesCranes
age                                10.5
visits                               12
priority                    yesyesnoyes
dtype: object

11. Calculate the mean age for each different birds in dataframe.

In [25]:
birds = data.groupby('birds_names')
for bird, birds_df in birds:
  print(bird, birds_df['age'].mean())

Cranes 3.5
plovers 3.5
spoonbills 6.0

12. Append a new row 'k' to dataframe with your choice of values for each column. Then delete that row to return the original DataFrame.

13. Find the number of each type of birds in dataframe (Counts)

In [26]:
data['birds_names'].value_counts()

Cranes        4
spoonbills    4
plovers       2
Name: birds_names, dtype: int64

14. Sort dataframe (birds) first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order.

In [28]:
#data.sort_values['visits']

TypeError: ignored

15. Replace the priority column values with 'yes' should be 1 and 'no' should be 0

In [29]:
data['priority'].unique()

array(['yes', 'no'], dtype=object)

In [30]:
data['priority'].map({'yes':1, 'no':0})

a    1
b    1
c    0
d    1
e    0
f    0
g    0
h    1
i    0
j    0
Name: priority, dtype: int64

16. In the 'birds' column, change the 'Cranes' entries to 'trumpeters'.

In [31]:
data['birds_names'] = data['birds_names'].replace({'Cranes' : 'Trumpeters'})